@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}


/* NESTING HEADER */
.header-dos {
  width: 100%;
 
  background-color: black;
}

.header-dos .nav {
  font-size: 15px;
  line-height: 30px;
}

.header-dos .nav .menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header-dos .logo {
  width: 75px;
  height: 75px;
}

.header-dos .logo:hover {
  transform: scale(2);
  transition: all 2s ease-out;
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
}

.nav {
  display: flex;
  justify-content: space-around;
}


/* PLACEHOLDER SECCIÓN NUESTRAS-FINCAS */
.elevacion,
.clima,
.aguaDeDeshielo,
.suelo {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  top: 20px;
  border-radius: 2%;
}

.elevacion:hover,
.clima:hover,
.aguaDeDeshielo:hover,
.suelo:hover {
  transform: scale(2);
  transition: all 2s ease-out;
}


.elevation,
.climax,
.water,
.floor {
  color: #725e86;
  font-family: "PT Serif", serif;
  font-size: 40px;
  display: flex;
  justify-content: start;
  margin-left: 30px;
  margin-top: 120px;
  font-weight: bolder;
}

.texto-elevacion,
.texto-clima,
.texto-agua,
.texto-suelo {
  color: #eedfdf;
  font-family: "PT Serif", serif;
  font-size: 22px;
  text-align: justify;
  display: flex;
  justify-content: start;
  margin-left: 20px;
  font-weight: lighter;

}



/* OPERACIÓN */
.vino-uno {
  width: 200px;
}

.vino-uno .vino-dos,
.vino-uno .vino-tres {
  width: 200px -50%;
}

/* LISTAS */
.nuestras-fincas {
  color: nth #3d3149, #eedfdf, #ad2451, 3;
}

.elevation,
.climax,
.water,
.floor {
  color: nth #3d3149, #eedfdf, #ad2451, 1;
}

.texto-elevacion,
.texto-clima,
.texto-agua,
.texto-suelo {
  color: nth #3d3149, #eedfdf, #ad2451, 2;
}




/* CARACTERÍSTICAS DEL BODY*/
body {
  height: 100vw;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}

/** FOOTER **/
#redes a {
  letter-spacing: 25px;
  font-weight: bold;
  width: 100%;
  font-size: 60px;
  color: black;
}

#redes {
  margin-top: 100px;
  padding-top: 0px;
  top: 93%;
  background-color: grey;
  display: flex;
}

#redes a i:hover {
  filter: blur(1px);
  /** PARA QUE SE DESENFOQUE CUANDO PASO EL CURSOR**/
}

.futer {
  background-color: grey;
  font-size: 30px;
  color: rgb(66, 65, 65);
}


.menu-footer {
 font-size: 15px;
 margin-top: 30px;
 margin-left: 50px;
}

.datos {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 50px;
}

/** CSS INICIO **/


.wine {
  font-family: 'Cinzel', serif;
  font-size: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: rgb(83, 34, 60);
  margin-right: 30px;
}

.title-wine {
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-right: 160px;
  margin-top: 200px;
  background-color: rgba(192, 55, 55, 0.616);
  border-radius: 3%;
  height: 400px;
}

.title-wine:hover {
  transform: scale(2);
  transition: all 3s ease-in-out;
}


/* CAROUSEL */
.el-carousel {
  margin-top: 100px;
}

.carousel-1,
.carousel-2,
.carousel-3 {
  border-radius: 2%;
  opacity: .7;
  margin-top: 50px;
}

.grid-dos {
  background-color: rgba(255, 255, 255, 0.774);
  margin-top: 250px;
  border-radius: 2%;
}

.grid-dos:hover {
  transform: scale(2);
  transition: all 20s ease-in-out;
}

.viñedos {
  margin-top: 100px;
  border-radius: 2%;
}

.viñedos-uno {
  color: rgb(9, 95, 170);
  font-size: 70px;
  margin-top: 300px;
  display: flex;
  justify-content: center;
}

.viñedos-dos {
  color: rgb(9, 95, 170);
  font-size: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


.visitanos {
  margin-top: 100px;
  border-radius: 2%;
}

.visitanos-uno {
  color: rgb(9, 95, 170);
  font-size: 70px;
  margin-top: 300px;
  display: flex;
  justify-content: center;
}

.visitanos-dos {
  color: rgb(9, 95, 170);
  font-size: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* GRID */
.grid-container {
  margin-top: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;
  background-color: black;
  margin-right: 50px;
}

.empezar {
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: white;

}


.bodega-antes {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: bold;

}


/* VIDEO*/

.video {
  width: 100%;
  height: 100%;
  opacity: .9;
  margin-top: 50px;
}


/**CSS de Nuestros Vinos**/


/** SUMADO CON FLEXBOX **/



.nuestros-vinos {
  color: rgb(173, 36, 81);
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.vinos-uno {
  margin-top: 30px;
}

/**CSS de Nuestras Fincas**/

/** SUMADO CON FLEXBOX **/



.nuestras-fincas {
  color: rgb(173, 36, 81);
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.nuestras-fincas:hover {
  transform: scaleX(2);
  transition: all 3s ease-in-out;
}


/**CSS de Nosotros**/


.nosotros {
  color: rgb(173, 36, 81);
  font-family: 'Lato', sans-serif;
  margin-top: 40px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.nosotros:hover {
  transform: scaleX(2);
  transition: all 3s ease-in-out;
}

.grid-tres {
  border-radius: 2%;
  margin-top: 100px;
}

.grid-tres:hover {
  transform: scale(2);
  transition: all 20s ease-in-out;
}

.bodeguita {
  margin-top: 100px;
  width: 100%;
}

.tours {
  margin-top: 100px;
  border-radius: 2%;
}

.tours-uno {
  color: white;
  font-size: 70px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.tours-dos {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.visitanos1 {
  margin-top: 100px;
  border-radius: 2%;
}

.visitanos2 {
  color: white;
  font-size: 70px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.visitanos3 {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}



.historia {
  width: 600px;
  height: 250px;
  color: rgb(238, 223, 223);
  font-family: 'PT Serif', serif;
  font-size: 25px;
  text-align: justify;
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-left: 350px;
  font-style: italic;
  
}


/**CSS de Contacto**/

.contactar {
  color: rgb(173, 36, 81);
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

/* FORMULARIO DE CONTACTO*/

.contacto {
  height: 100vh;
}

.form {
  height: 100vh;
  width: 70%;
  margin: 0 auto;

}


/** MEDIA QUERY **/
/** PARA MOBILE **/
@media only screen and (max-width:425px) {
  .header-dos {
    background-color: black;

  }

  .menu li a {
    color: rgb(241, 228, 155);
  }

  .redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 5px;
  }


 
.grid-dos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
}


}

/** PARA TABLET **/
@media only screen and (min-width:321px) and (max-width:768px) {
  .header-dos {
    background-color: rgb(218, 156, 40);
  }

  .menu li a {
    color: black;
  }

  .redes {
    display: flex;
    justify-content: space-between;
  }
}

/** PARA DESKTOP CHICAS **/
@media only screen and (min-width:769px) and (max-width: 992px) {
  .header-dos {
    background-color: rgba(255, 255, 255, 0.418);
  }

  .redes {
    display: flex;
    justify-content: space-between;
  }
}