/* NESTING HEADER */
.header-dos {
    width: 100%;
    background-color: rgba(58, 57, 57, 0.185);

    .nav {
        background-color: rgba(240, 222, 222, 0.541);
        font-size: 20px;
        line-height: 30px;

        .menu {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }

    .logo {
        width: 35px;
        height: 35px;
        &:hover {
            transform: scale(2);
            transition: all 2s ease-out;
            -webkit-transform: scale(2);
            -o-transform: scale(2);
            -moz-transform: scale(2);
            -webkit-transition: all 2s ease-out;
            -o-transition: all 2s ease-out;
            -moz-transition: all 2s ease-out;
        }
    }
}

/* FIN NESTING HEADER */
